body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: #0183ee;
}

/* Pole do wpisywania tekstu */
textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #0183ee;
    border-radius: 20px;
}

/* Kontener klawiatury -> wycentrowana klawiatura */
.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Przycisk */
button {
    margin: 3px;
    padding: 15px 20px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #0183ee;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #319ef7;
    color: white;
}

